<!-- app/views/tasks/index.html.erb -->
<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.name, category_task_path(@category, task) %></li>
  <% end %>
</ul>

<%= link_to 'New Task', new_category_task_path(@category) %>
