<div class="container is-flex is-align-items-center is-justify-content-center">
  <div class="box">
    <h1 class="title">Edit Journal</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Back', categories_path, class: "button is-link" %>
  </div>
</div>
