<div class="container is-flex is-justify-content-center is-align-items-center">
  <div class="box">
    <h1 class="title">New Journal</h1>

    <%= render 'form', category: Category.new %>

    <%= link_to 'Back to Journals', categories_path, class: "button is-primary" %>
  </div>
</div>
